.holder-section-box {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .13);
    border-radius: 6px;
    text-align: center
}

#bg-stretch1656138807665956 {
    background-image: url(/bg-box.png);
}

#bg-stretch165616940355832 {
    background-image: url(/kohihqheader.png);
}

.holder-section-text {
    padding: 0 30px 11px
}

.img-title {
    position: relative;
    z-index: 1;
    height: 114px;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .13);
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 18px
}
